*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #000;
    display: flex;
    align-items:  center;
    justify-content: center;
    min-height: 100vh;
}
h1 {
    color: hsl(0, 0%, 50%);
    font-family: monospace;
    letter-spacing: 3px;
    font-size: 50px;
    cursor: pointer;
}
h1 span {
    transition: all 0.2s ease-in-out;
}
h1:hover > span:first-child:after {
    content: "'";
}
h1:hover > span:first-child{
    margin-right: 5px;
}
h1:hover > span:last-child {
    margin-left: 30px;
}
h1:hover span {
    color: white;
    text-shadow: 0 0 10px white,
    0 0 20px white,
    0 0 40px white;
}